html {
  width: 200px;
}

#title {
  text-align: center;
}

body {
  margin: 10px;
}

.right {
  right: 0px;
}
.left {
  left: 0px;
}

#start_button {
  float: left;
}

#download_button {
  float: right;
}
